.submission{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    background-image: url();
    
}
.submit-container{
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 15px 15px 10px lightgray;
}
.submit-instruction-container{
    padding: 25px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Lato', sans-serif;

    background-color: #5D48E0;
    background-image: url(https://global-uploads.webflow.com/5da0478a951135b39339e016/60de13944e8303678b3c4f7a_Frame%20212.png),linear-gradient(
    180deg,hsla(0,0%,100%,.19),hsla(0,0%,100%,0));
    background-position: 50% 0,0 0;
    background-size: 1128px,auto;
    background-attachment: scroll,scroll;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}
.header-box{
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    overflow: hidden;
}
.header{
    font-size: 2.8rem;
}
.header+p{
    margin-top: 5px;
    font-size: 0.8rem;
    color: white;
}
.instruction-box{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    list-style-type: circle;
}
.instruction-box::-webkit-scrollbar {
    display: none;
}
.instructions{
    display: flex;
    align-items: self-start;
    margin-bottom: 8px;
}
.instructions p{
    display: inline-block;
}
.pointIcon{
    font-size: 1rem;
    margin-right: 5px;
    margin-top: 2px;
}



.submit-form-container{
    background-color: rgb(247, 247, 247);
    font-family: 'Lato', sans-serif;
    padding: 25px;
}
.submit-form-container h2{
    color: #444;
    font-size: 1.5rem;
}
.select-input{
    color: black;
}
.submit-form-container .data-div{
    margin-top: 15px;
   height: 40vh;
   overflow-y: scroll;
}
.data-div textarea, .data-div select{
    margin-top: 2vh;
    color: #444;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 4px;
    height: 48px;
    font-size: 1rem;
    padding: 0px 12px;
    background: rgb(250, 250, 250);
    font-family: 'Lato', sans-serif;

}
.data-div textarea:focus, .data-div select:focus{
    outline: none;
}
.pmodel{
    color: #444 !important;
}

.extra-deatil{
    height: 100px !important;
}

.tag-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;


}
.tag-showcase-box{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 6px;
}
.tag-showcase-box::-webkit-scrollbar{
    display: none;
}
.tagInput{
    margin-top: 5px !important;
}
.addtag{
    background-color: #B91646 !important;
    margin-top: 0 !important;
}