.topbar-container{
    position: fixed;
    top: 0;
    width: 82%;
    height: 200px;
    background-color: white;
}
.topbar{
    position: fixed;
    top: 0;
    width: 82%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 2;
}