.category-page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #F8F8F9;

}
.right-part{
    width: 82%;
    left: 18%;
    position: relative;
    height: fit-content;
    padding-bottom: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.overlay{
    margin-top: 100px !important;
}
