.gradiantBG{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(187, 225, 255, 0.1) 0%, rgba(187, 225, 255, 0.19) 100%), #F8E8D9;

    background-image: url("../../images/toon1.png");
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
}