.add-glossary-container{
    width: 90%;
    height: fit-content;
    background-color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 10px 10px 15px 5px lightgray;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 15px 25px 25px 25px;
    z-index: 1;
}
.add-glossary-container .header h2{
    flex: 1;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 15px;
    margin-right: 50px;
}
.add-glossary-container .header{
    margin-top: 15px;
    display: flex;
}
.glossary-upload-container{
    width: 100%;
    height: 80%;
    box-sizing: border-box;

    display: flex;
}



.data-div{
    width: 100%;
}
.payment-btn{
    width: 100px;
    height: 50px;
}
.payment-btn span{
    font-size: 1rem;
}

.glossary-desc{
    max-width: 100%;
    min-width: 100%;
    min-height: 120px !important;
    box-sizing: border-box;
    padding-top: 10px !important;
}