table{
    width: 100%;
    color: #444;
}
th{
    padding: 10px;
    text-align: left;
    
}
td {
    padding: 6px;
}
td {
    border-top: 1px solid #ddd;
}

th, .term {
    font-weight: bold;
}
.term{
    border-right: 1px solid #ddd;
}
.each-glossary{
    border: 1px solid #dadada;
    background: #fff;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #dadada;
    border-left:5px solid #FFA500
}
.each-glossary h3{
    font-size: 18px;
    font-weight: 600;
}
.each-glossary p{
    font-size: 15px;
    color: #5a5959;
}
