.aboutSection{
    margin-top: 70px;
    font-family: 'Lato', sans-serif;

}
.pd-container{
    color: #444;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

.p-img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #dadada;
}
.p-name{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
}
.p-desc{
    font-size: 1rem;
    color: gray;
}
.pricing-modal-div{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
.pricing-modal, .tags-box{
    margin-left: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #E5DCC3;
    border-radius: 20%;
}
.pricing-modal p{
    margin-bottom: 0;
}
.tags-box{
    background-color: whitesmoke;
}
.p-mpdelnew .lable{
    font-size: 18px;
}
.p-mpdelnew .pricing-modal{
    padding: 2px 15px;
    border-radius: 25px;
}
.tags-div h3{
    font-size: 18px;
}
.my-tags-box p{
    margin-bottom: 0;
}
.tags-div{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
.likediv .fa-heart{
    font-size: 24px;
}
.likediv p{
    font-size: 21px;
    line-height: 20px;
    position: relative;
    top: -3px;
}
.bottom-detail{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bottom-detail .left{
    display: flex;
    flex: 1;
    align-items: center;
}
.d-like{
    font-size: 2.5rem;
    cursor: pointer;
    color: lavender;
    margin-bottom: 2px;
}
.yt{
    font-size: 4rem;
    color: red;
    cursor: pointer;
}
.no-video{
    color: lightgray; 
    cursor: not-allowed;
}
.visit-btn{
    width: 100%;
    height: fit-content;
    padding: 12px;
    margin-left: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: lavender;
    font-weight: bold;
    border:1px solid #dadada;
}
.visit-link{
    width: 60% !important;
}
.bottom-detail .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tags-div h3{
    margin-right: 15px;
}
