.product_div{
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    height: auto;
    align-items: start;
    box-shadow: 0 0 5px #dadada;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 15px;
    border-left:5px solid #FFA500;
}

/* .product_div .tumbnail{
    flex: 2;
    overflow: hidden;
    border-radius: 15px;
    background-image: url("https://uploads-ssl.webflow.com/63994dae1033718bee6949ce/639bc4c29fbc3164ef3bcef4_enhancespeech-thumbnail-small%401x.9787c296594f24c0afc0.png");
    background-repeat: no-repeat;
    background-size: fill;

} */
.product_div img{
    width: 250px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
    align-items: center;
}
.p_detail{
    flex: 2;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

}
.p_heading{
    font-size: 1.4rem;
    color: black;
    font-size: bold;
}
.p_desc{
    width: 100%;
    overflow: hidden;
    margin-top: 8px;
}
.p_desc p{
    font-size: 14px;
    color: gray;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.lower{
    display: flex;
    flex-direction: row-reverse;

}

.save, .like{
    font-size: 1.5rem;
}
.save{
    margin-left: 10px;
}
.fa-solid{
    color: #d9d9d9 !important;
}
.fa-regular{
    color: #d9d9d9 !important;
}