.alert{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 3%;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
.alertIcon{
    margin: 0 1% 0 0;
    width: 22px !important;
    color: #ef5350;
}
.alert p{
    text-align: left;
    font-size: 0.82rem;
    display: inline-block;
    margin: 0;
}
.nothing{
    display: none;
}