.navbar{
    width: 100vw;
    /* background-color: hsla(0,0%,100%,.37) !important; */
    /* background-color: rgb(72, 100, 229. .37); */
    backdrop-filter: blur(16px);
    position: fixed;
    top: 0;
    opacity: 1;
    color: white;
    padding: 12px 0 12px 0;
    background-color: #250200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 0 5px #dadada;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white;
    padding: 5px; */
    overflow: hidden;
}
.logo-container img{
    width: 180px;
}
.nav-link-container{
    
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;

}
.nav-link-container a{
    padding:5px 15px;
}
.nav-link-container span{
    cursor: pointer;
    color: #fff;
}
.link-login {
    margin: 0px 10px 0 0;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
    background-color: #FFA500;
    Color:#fff;
    border:1px solid #FFA500;
    cursor: pointer;
}
.link-login:hover{
    border:1px solid #FFA500;
    background-color:transparent;
    color:#FFA500;
}
.link-login span{
    color: #fff;
}
