.banner{
    background-image: url('https://img.freepik.com/free-vector/abstract-background-with-liquid-shapes_23-2148899320.jpg'),linear-gradient(145deg, #375ee3 0%, #6543e0 80%);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 65px;
    height: 480px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
background-size: contain;
background-position: center;
background-size: cover;
}
.headline_div{
    color: white;
    font-family: 'Delicious Handrawn', cursive !important;
    text-align: center;
}

.banner .searchBar_div{
    /* position: absolute;
    bottom: 100px; */
}