.glossary-admin-Table{
    width: 90%;
    height: 90vh;
    z-index: 1;
}
.gTable-header{
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    box-shadow: 10px 10px 15px 5px lightgray;
    font-size: 0.9rem;
}
.gTable-header .title{
    color: white;
}
.title h2{
    padding: 15px;
}
.term{
    width: 25%;
    overflow-y: scroll;
}
.desc{
    flex: 1;
}
.term::-webkit-scrollbar{
    display: none;
}
.desc::-webkit-scrollbar{
    display: none;
}

.gTable-row{
    margin-top: 8px;
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    box-shadow: 3px 3px 7px 2px lightgray;
    font-size: 1rem;
    
}

.term p{
    font-weight: bold;   
}
.gTable-row .desc{
    box-sizing: border-box;
    font-weight:lighter;
    padding: 10px;
}
.gTable-row .term{
    box-sizing: border-box;
    padding: 10px;
}

.desc-wrapper{
    max-height: 100px;
    overflow-y: scroll;
}
.term-wrapper{
    max-height: 100px;
    overflow-y: scroll;
}
.term-wrapper::-webkit-scrollbar{
    display: none;
}
.desc-wrapper::-webkit-scrollbar{
    display: none;
}
